<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/foto-guillermo.jpg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
  <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
          <h1>Acerca de mí</h1>
          <p>He obtenido experiencia en distintas tareas, siempre alrededor de proyectos a implementar, a veces desde el lado de desarrollo , otras como usuario pidiendo soft a medida, ayudando a desarrollar de acuerdo a lo necesitado, siempre trabajando en equipo; buscando mejorar, aprender lenguajes de programacion.</p>
      </span>
  </div>
</div>
